<mat-card class="center h-100">
  <mat-card-header>

    <mat-card-title>IAS Software</mat-card-title>
    <mat-card-subtitle>HandyMan Calculator</mat-card-subtitle>
  </mat-card-header>
  <div style="background: black; image-resolution: normal">

    <img mat-card-image src="/assets/logo.png" alt="Photo of a IAS">
  </div>
  <mat-card-content>
    <p>
      Our Culture
      At IAS we are passionate about meeting the needs of our team members. Always supporting their professional and personal growth.
    </p>
  </mat-card-content>
</mat-card>
